@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap"); /* Start Variables */
:root {
  --main-color: #333;
  --secondary-color: #e76711;
}
/* End Variables */

/* Start Global Rules */

html {
  scroll-behavior: smooth;
  font-size: 14px;
}
::-webkit-scrollbar {
  background-color: white;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Cairo", sans-serif;
}

body {
  direction: rtl;
  background-color: #eee;
}
.product-full {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10000000000000000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-full.active {
  z-index: 10000000000000000;
  opacity: 1;
  pointer-events: auto;
}
.product-section {
  width: 90vw;
  height: 90vh;
  max-width: 90vw;
  max-height: 90vh;
  background-color: white;
  overflow: auto;
  padding: 1.5rem;
  position: relative;
}

.product-section .close {
  position: absolute;
  left: 2%;
  top: 5%;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-section h4 span {
  font-size: 2rem;
  color: var(--secondary-color);
  padding: 2rem 0;
}
.product-section h4 i {
  font-size: 1.1rem;
  color: var(--main-color);
  font-style: normal;
  padding: 2rem 1rem;
}

.product-section ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem 0;
}
.product-section ul li span {
  padding: 0 1rem;
}
.product-section ul li:last-child {
  font-size: 2rem;
  margin-right: 15rem;
  color: white;
  font-weight: bold;
  background-color: var(--secondary-color);
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.product-section ul li select {
  outline: none;
}
.product-section .all-img {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
}
.product-section .all-img .form {
  width: 40vw;
  max-width: 40vw;
}
.product-section .all-img .form div {
  margin: 1.5rem 0;
  position: relative;
}
.product-section .all-img .form div .empty {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  top: -1.5rem;
  left: -1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease-in-out;
}
.product-section .all-img .form div .empty.active {
  opacity: 1;
  pointer-events: auto;
}
.product-section .all-img .form div .empty span {
  font-size: 0.8rem;
  padding: 0.3rem;
  display: block;
}
.product-section .all-img .form div label {
  font-size: 1.2rem;
  color: #222;
}
.product-section .all-img .form div:not(:last-child) input {
  width: 40vw;
  max-width: 40vw;
  padding: 0.5rem 1rem;
  outline: none;
  transition: all 0.7s ease-in-out;
}
.product-section .all-img .form div:not(:last-child) input:focus {
  transform: scale(1.1);
}
.product-section .all-img .img {
  width: 25vw;
  height: 50vh;
  max-width: 25vw;
  max-height: 50vh;
  border: 1px solid var(--main-color);
}

.product-section .all-img .img img {
  width: 25vw;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.product-section .buy {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.details-shop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -10000000000000000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
}

.details-shop.active {
  z-index: 10000000000000000;
  opacity: 1;
  pointer-events: auto;
}
.details-shop .content {
  width: 70vw;
  height: 70vh;
  max-width: 70vw;
  max-height: 70vh;
  overflow: auto;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}
.details-shop .content button {
  position: absolute;
  left: 2%;
  top: 5%;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.details-shop .content h2 {
  color: #222;
  margin: 1rem;
}
.details-shop .content ul {
  padding-right: 2rem;
  width: 70%;
  max-width: 70%;
}
.details-shop .content ul li {
  font-size: .9rem;
  line-height: 2.4rem;
  text-align: justify;
  margin-bottom: 1rem;
}
.details-shop .content::-webkit-scrollbar {
  background-color: #eee;
  width: 0.8rem;
}
.details-shop .content::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
header {
  min-height: 50vh;
}
header .logo {
  padding: 0 5%;
  line-height: 10vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.logo .search {
  width: 40%;
}
.logo .search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
.logo .search input::placeholder {
  font-size: 1.2rem;
  color: var(--main-color);
}
header .logo a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
}
header nav {
  padding: 0 5%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  line-height: 10vh;
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  z-index: 100000;
  background-color: #eee;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li a {
  font-size: 1.2rem;
  text-align: center;
  color: var(--main-color);
  font-weight: 500;
  transition: all 0.3s ease;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--secondary-color);
}

header .hero {
  margin-top: 40vh;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

header .hero h1 {
  color: #eee;
  -webkit-text-stroke: 0.04vw #fff;
  font-size: 2.5rem;
  margin: 1rem 0;
  position: relative;
}
header .hero h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  color: var(--secondary-color);
  -webkit-text-stroke: 0vw #fff;
  border-left: 2px solid var(--secondary-color);
  overflow: hidden;
  animation: animateHeader 6s linear infinite;
}
header .hero p {
  font-size: 0.9rem;
  color: #222;
  margin-bottom: 1rem;
}
.go-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 500;
  transition: all 0.7s ease;
}
.go-btn:hover {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

/* men and women and kids .................................................. */

.men,
.women,
.kids {
  padding: 0 5%;
  margin-top: 5rem;
}

.men-index,
.women-index,
.kids-index{
  padding: 2% 5%;
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
}
.men-index .content,
.women-index .content,
.kids-index .content{
  width: 40vw;
}
.men-index .content h2,
.women-index .content h2,
.kids-index .content h2{
  color: var(--main-color);
  font-size: 2rem;
  margin: 1rem 0;
}
.men-index .content p,
.women-index .content p,
.kids-index .content p{
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40vw;
  max-width: 40vw;
  word-wrap: break-word;
}
.men-index .img,
.women-index .img,
.kids-index .img{
  width: 40vw;
  height: 50vh;
  max-height: 50vh;
}
.men-index .img img,
.women-index .img img,
.kids-index .img img{
  width: 40vw;
  max-width: 40vw;
  height: 50vh;
  max-height: 50vh;
}


.men h2,
.women h2,
.kids h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
}
.men .products,
.women .products,
.kids .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.men .products .product,
.women .products .product,
.kids .products .product {
  position: relative;
  flex-basis: 20vw;
  height: 40vh;
  margin-bottom: 2rem;
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.men .products .product .product-hover,
.women .products .product .product-hover,
.kids .products .product .product-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  height: 40%;
  background-color: white;
  padding: 1rem;
  transition: all 1s ease-in-out;
}
.men .products .product:hover .product-hover,
.women .products .product:hover .product-hover,
.kids .products .product:hover .product-hover {
  opacity: 1;
  pointer-events: auto;
}
.men .products .product .product-hover span,
.women .products .product .product-hover span,
.kids .products .product .product-hover span {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.men .products .product .product-hover p,
.women .products .product .product-hover p,
.kids .products .product .product-hover p {
  text-align: center;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
}

.men .products .product:hover,
.women .products .product:hover,
.kids .products .product:hover {
  transform: scale(1.1);
}
.men .products .product h4,
.women .products .product h4,
.kids .products .product h4 {
  position: absolute;
  top: 0;
  left: 50%;
  color: var(--secondary-color);
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  width: fit-content;
  padding: 0.6rem 0.9rem;
  text-align: center;
  font-size: 0.8rem;
}
.men .products .product img,
.women .products .product img,
.kids .products .product img {
  width: 100%;
  max-width: 20vw;
  height: 100%;
  max-height: 100%;
}

.men .button,
.women .button,
.kids .button {
  display: flex;
  justify-content: center;
}

/* about Us */
.about-us {
  padding: 0 5%;
  margin-top: 5rem;
}
.about-us h3 {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  color: var(--main-color);
}
.about-us > p {
  text-align: center;
  color: #222;
  padding-top: 1rem;
}
.about-us .testimonials {
  position: relative;
  margin: 6rem auto;
  width: 50vw;
}
.testimonials .prev {
  position: absolute;
  top: 50%;
  left: -6rem;
  cursor: pointer;
  transform: translateY(-50%);
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
}
.testimonials .prev i,
.testimonials .next i {
  font-size: 1rem;
  color: white;
}

.testimonials .next {
  position: absolute;
  top: 50%;
  right: -6rem;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
}
.about-us .user {
  width: 45vw;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 3rem;
  display: none;
  margin: auto;
}
.about-us .user.active {
  display: block;
}
.about-us .user img {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}
.about-us .user p {
  font-size: 0.9rem;
  background-color: white;
  color: #222;
  padding: 1rem;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
}
.about-us .user .social i {
  font-size: 1.2rem;
  margin: 0 0.3rem;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-us .user .social i:hover {
  border: 1px solid #222;
}
/* footer.......................................... */

footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  margin-top:20vh;
}
footer a {
  color: white;
  display: block;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
footer a:hover {
  color: var(--secondary-color);
  display: block;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5vw 0;
}
footer .copy {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.623);
  padding: 1rem;
}
/* keyframes */

@keyframes animateHeader {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* Media Query for page ............................ */

@media (max-width: 540px) {
  /* Start Global Rules */

  html {
    font-size: 9px;
  }

  .product-section {
    padding: 4.5rem;
  }

  .product-section .close {
    left: 4%;
    top: 3%;
  }
  .product-section h4 span {
    font-size: 2.5rem;
  }
  .product-section h4 i {
    font-size: 1.1rem;
  }
  .product-section ul li:last-child {
    margin: 0;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
  }
  .product-section .all-img {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .product-section .all-img .form {
    width: 80vw;
    max-width: 80vw;
  }
  .product-section .all-img .form div:not(:last-child) input {
    width: 80vw;
    max-width: 80vw;
  }
  .product-section .all-img .img {
    width: 80vw;
    max-width: 80vw;
  }

  .product-section .all-img .img img {
    width: 80vw;
    max-width: 100%;
  }

  .details-shop .content {
    width: 90vw;
    height: 80vh;
    max-width: 90vw;
    max-height: 80vh;
    padding: 7rem 2rem 2rem;
  }
  .details-shop .content button {
    top: 3%;
  }
  .details-shop .content ul{
    width: 70vw;
    max-width: 70vw;
  }

  header {
    min-height: 25vh;
  }
  header .logo {
    line-height: 7vh;
    padding: 0;
  }
  header .logo a {
    padding-right: 2%;
  }
  .logo .search {
    width: 40%;
  }
  .logo .search input {
    padding: 0.4rem;
  }
  header nav {
    line-height: 7vh;
    top: 7vh;
  }
  header nav ul li a {
    font-size: 1rem;
  }
  header .hero {
    margin-top: 35vh;
    width: 70%;
  }

  header .hero h1 {
    color: #eee;
    -webkit-text-stroke: 0.02vw #fff;
    font-size: 1.6rem;
    margin: 0;
  }
  header .hero p {
    font-size: 0.9rem;
    margin: 1.5rem 0;
  }
  .go-btn {
    border-radius: 3px;
    padding: 0.8rem 1.1rem;
    font-size: 0.9rem;
  }

  /* men and women and kids .................................................. */

  .men-index,
.women-index,
.kids-index{
  padding: 2% 5%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.men-index .content,
.women-index .content,
.kids-index .content{
  width: 80vw;
  margin: 0 auto;
}
.men-index .content h2,
.women-index .content h2,
.kids-index .content h2{
  color: var(--main-color);
  font-size: 1.7rem;
  margin: 1rem 0;
  text-align: center;
}
.men-index .content p,
.women-index .content p,
.kids-index .content p{
  font-size: 1rem;
  line-height: 2rem;
  width: 80vw;
  max-width: 80vw;
  word-wrap: break-word;
}
.men-index .img,
.women-index .img,
.kids-index .img{
  width: 80vw;
  margin: 2rem auto;
}
.men-index .img img,
.women-index .img img,
.kids-index .img img{
  width: 80vw;
  max-width: 80vw;
}



  .men .products,
  .women .products,
  .kids .products {
    justify-content: center;
  }
  .men,
  .women,
  .kids {
    margin: 1.5rem 0;
  }

  .men h2,
  .women h2,
  .kids h2 {
    font-size: 1.7rem;
  }
  .men .products .product,
  .women .products .product,
  .kids .products .product {
    flex-basis: 80vw;
    height: 40vh;
    border: 0;
    margin-bottom: 2rem;
  }

  .men .products .product:hover,
  .women .products .product:hover,
  .kids .products .product:hover {
    transform: scale(1.01);
  }
  .men .products .product h4,
  .women .products .product h4,
  .kids .products .product h4 {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }
  .men .products .product img,
  .women .products .product img,
  .kids .products .product img {
    width: 100%;
    max-width: 80vw;
    height: 100%;
    max-height: 100%;
  }

  .men .button,
  .women .button,
  .kids .button {
    display: flex;
    justify-content: center;
  }

  /* about Us */
  .about-us h3 {
    font-size: 2.5rem;
  }
  .about-us > p {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us .testimonials {
    margin: 8rem auto;
    width: 80vw;
  }
  .testimonials .prev {
    top: -3rem;
    left: 10%;
  }

  .testimonials .next {
    top: -3rem;
    right: 10%;
  }
  .about-us .user {
    width: 80vw;
    border-radius: 3px;
  }
  .about-us .user h4 {
    margin: 0.5rem 0 1rem;
  }
  .about-us .user img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .about-us .user p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .about-us .user .social i {
    font-size: 1rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .about-us .user .social i:hover {
    border: 0.5px solid #222;
  }
  /* footer.......................................... */
  footer .content {
    padding: 3rem 5vw 0;
  }
  footer .copy {
    font-size: 0.9rem;
  }
}

@media (min-width: 546px) and (max-width: 996px) {
  /* Start Global Rules */

  html {
    font-size: 10px;
  }
  .product-section {
    padding: 4.5rem;
  }

  .product-section .close {
    left: 4%;
    top: 3%;
  }
  .product-section h4 {
    font-size: 3rem;
  }
  .product-section .all-img {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .product-section .all-img .form {
    width: 80vw;
    max-width: 80vw;
  }
  .product-section .all-img .form div:not(:last-child) input {
    width: 80vw;
    max-width: 80vw;
  }
  .product-section .all-img .img {
    width: 60vw;
    max-width: 60vw;
  }

  .product-section .all-img .img img {
    width: 60vw;
    max-width: 100%;
  }
  .details-shop .content {
    width: 90vw;
    height: 70vh;
    max-width: 90vw;
    max-height: 70vh;
    padding: 5rem 2rem 2rem;
  }
  .details-shop .content button {
    top: 3%;
  }

  .details-shop .content ul{
    width: 70vw;
    max-width: 70vw;
  }
  header .hero h1 {
    font-size: 2.2rem;
  }

  /* men and women and kids .................................................. */

  .men-index,
  .women-index,
  .kids-index{
    padding: 2% 5%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .men-index .content,
  .women-index .content,
  .kids-index .content{
    width: 80vw;
    margin: 0 auto;
  }
  .men-index .content h2,
  .women-index .content h2,
  .kids-index .content h2{
    color: var(--main-color);
    font-size: 1.7rem;
    margin: 1rem 0;
    text-align: center;
  }
  .men-index .content p,
  .women-index .content p,
  .kids-index .content p{
    font-size: 1rem;
    line-height: 2rem;
    width: 80vw;
    max-width: 80vw;
    word-wrap: break-word;
  }
  .men-index .img,
  .women-index .img,
  .kids-index .img{
    width: 80vw;
    margin: 2rem auto;
  }
  .men-index .img img,
  .women-index .img img,
  .kids-index .img img{
    width: 80vw;
    max-width: 80vw;
  }

  .men .products,
  .women .products,
  .kids .products {
    justify-content: space-between;
  }
  .men .products .product,
  .women .products .product,
  .kids .products .product {
    flex-basis: 40vw;
    height: 30vh;
    border: 0;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .men .products .product:hover,
  .women .products .product:hover,
  .kids .products .product:hover {
    transform: scale(1.01);
  }
  .men .products .product h4,
  .women .products .product h4,
  .kids .products .product h4 {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
  }
  .men .products .product img,
  .women .products .product img,
  .kids .products .product img {
    width: 100%;
    max-width: 40vw;
    height: 100%;
    max-height: 100%;
  }

  .men .button,
  .women .button,
  .kids .button {
    display: flex;
    justify-content: center;
  }

  /* about Us */
  .about-us h3 {
    font-size: 3rem;
  }
  .about-us > p {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us .testimonials {
    margin: 8rem auto;
    width: 80vw;
  }
  .testimonials .prev {
    top: -3rem;
    left: 10%;
  }

  .testimonials .next {
    top: -3rem;
    right: 10%;
  }
  .about-us .user {
    width: 80vw;
    border-radius: 3px;
  }
  .about-us .user h4 {
    margin: 0.5rem 0 1rem;
  }
  .about-us .user img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .about-us .user p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .about-us .user .social i {
    font-size: 1rem;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .about-us .user .social i:hover {
    border: 0.5px solid #222;
  }
  /* footer.......................................... */
  footer .content {
    padding: 3rem 5vw 0;
  }
  footer .copy {
    font-size: 0.9rem;
  }
}


/* Other pages men , women , kids  */

.hero-men{
  background-image: url("../img/men6.jpg");

}
.hero-women{
  background-image: url("../img/women16.jpg");
}
.hero-kids{
  background-image: url("../img/kid12.jpg");
}
.hero-men ,
.hero-women,
.hero-kids{
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 20vh;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  max-height: 80vh;
  position: relative;
}
.hero-men i ,
.hero-women i,
.hero-kids i{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: white;
    cursor: pointer;
    padding: 2rem;
    border-radius: 3rem;
    animation: heroMen 1s ease-in-out infinite;
}
.hero-men i::after ,
.hero-women i::after,
.hero-kids i::after{
    content: "مرر للأسفل";
    left: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
    padding-right: 1rem;

}
.search{
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input input{
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--main-color);
  background-color: white;
  color: #222;
  font-size: 1.1rem;
  width: 50vw;
}

/* Media Query for page ............................ */


@media (max-width: 540px) {
  .hero-men ,
.hero-women,
.hero-kids {
    margin-top: 14vh;
    height: 86vh;
    max-height: 86vh;
  }
}

@keyframes heroMen {
    0%,90%{
        color: var(--secondary-color);
        top: 50%;
    }
    40%,60%{
        color: var(--main-color);
        top: 55%;

    }
}
/* about page  ///////////////////////// */


.about-page{
  margin-top: 35vh;
  width: 80vw;
  padding:0 5% ;
  /* background-color: white; */
}
.about-page h3{
  font-size: 1.5rem;
  margin:  1.5rem 0;
  color: var(--main-color);
}
.about-page p{
  font-size: 1.1rem;
  margin:  1.5rem 0;
  color: var(--main-color);
  line-height: 2rem;
}
.about-page hr{
  width: 90%;
}